{% load static %}
{% load anime_tag %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'anime_list' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active">
                                <a href="{% url 'anime_list' %}">Главная</a>
                            </li>
                            <li>
                                <a href="{% url 'categories' %}">Категории<span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    {% get_categories as categories %}
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Блог</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a href="login.html"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
