{% extends "base.html" %}
{% block title %}
    |Контакты
{% endblock title %}
{% block content %}
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="about_text">
                        <div>Контакты:</div>
                        <ul>
                            <li>Email: example@mail.ru</li>
                            <li>
                                Vk: <a href="https://vk.com/id1" target="_blank">vk.com/id1</a>
                            </li>
                            <li>
                                GitHub: <a href="https://github.com/NaiNaniNai/anime-site" target="_blank">NaiNaniNai</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
