{% extends "base.html" %}
{% block title %}
    |{{ category.name }}
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="category__details__content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="category__details__text">
                        <h3>{{ category.name }}</h3>
                        <p>Описание: {{ category.description }}</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="category__details__anime">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Аниме</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in filter_anime %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="{{ MEDIA_ROOT }}{{ anime.poster_for_main_page.url }}">
                                            <div class="ep">{{ anime.released_episodes }} / {{ anime.planned_episodes }}</div>
                                            <div class="comment">
                                                <i class="fa fa-comments"></i> {{ anime.animereview_set.count }}
                                            </div>
                                            <div class="view">
                                                <i class="fa fa-eye"></i> {{ anime.views }}
                                            </div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li>{{ anime.category }}</li>
                                                {% for genre in anime.genres.all %}<li>{{ genre.name }}</li>{% endfor %}
                                            </ul>
                                            <h5>
                                                <a href="{% url 'anime_detail' anime.slug %}">{{ anime.title }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
