{% extends "base.html" %}
{% block title %}
    |Сброс пароля
{% endblock title %}
{% block content %}
    <section class="normal-breadcrumb set-bg"
             data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Сброс пароля</h2>
                        {% if not user.is_authenticated %}
                            <p>Добро пожаловать на Anime сайт.</p>
                        {% else %}
                            <p>Вы уже авторизированы</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login spad">
        <div class="container">
            {% if not user.is_authenticated %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>Сброс пароля</h3>
                            <form method="post" action="{% url "reset_password" %}">
                                {% csrf_token %}
                                <div class="input__item">
                                    <input type="text"
                                           name="username"
                                           id="username"
                                           placeholder="Имя пользователя">
                                    <span class="icon_profile"></span>
                                </div>
                                <div class="input__item">
                                    <input type="text" name="email" id="email" placeholder="Почта">
                                    <span class="icon_mail"></span>
                                </div>
                                <div class="input__item">
                                    <input type="text"
                                           name="new_password"
                                           id="new_password"
                                           placeholder="Пароль">
                                    <span class="icon_lock"></span>
                                </div>
                                <button type="submit" class="site-btn">Вход</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="logout text-center">
                    <h3>Выйти из аккаунта?</h3>
                    <a href="{% url 'logout' %}" class="primary-btn">Выйти</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
