{% extends "base.html" %}
{% block content %}
    {% load anime_tag %}
    {% load static %}
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Список аниме по запросу "{{ q }}":</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if result %}
                                {% for anime in result %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg"
                                                 data-setbg="{{ MEDIA_ROOT }}{{ anime.poster_for_main_page.url }}">
                                                <div class="ep">{{ anime.released_episodes }} / {{ anime.planned_episodes }}</div>
                                                <div class="comment">
                                                    <i class="fa fa-comments"></i> {{ anime.animereview_set.count }}
                                                </div>
                                                <div class="view">
                                                    <i class="fa fa-eye"></i> {{ anime.views }}
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li>{{ anime.category }}</li>
                                                    {% for genre in anime.genres.all %}<li>{{ genre.name }}</li>{% endfor %}
                                                </ul>
                                                <h5>
                                                    <a href="{% url 'anime_detail' anime.slug %}">{{ anime.title }}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="res">Нет аниме, подходящих по запросу</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
