{% extends "base.html" %}
{% block title %}
    |{{ anime.title }}
{% endblock title %}
{% block content %}
    {% load static %}
    <!-- Anime Section Begin -->
    <div class="container">
        <div class="studio__details__content">
            <div class="row">
                <div class="col-lg-9">
                    <div class="studio__details__text">
                        <div class="studio__details__title">
                            <h3>{{ studio.name }}</h3>
                        </div>
                        <p>Описание: {{ studio.description }}</p>
                        <div>
                            <div class="studio__details">
                                Выпущенные аниме:
                                {% for anime in studio.animes.all %}
                                    <div>
                                        <a href="{% url 'anime_detail' anime.slug %}"></a> {{ anime.title }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
